#b___slow.btn51 {background:url(http://plug.toplink.by/i/butt4.png) no-repeat 0 -170px; cursor: pointer; width:28px; height: 34px; display:inline-block;}
#b___slow.btn51:hover {background-position:0 -136px; width:28px; cursor: pointer; }

#b___slow.btn52 {background:url(http://plug.toplink.by/i/butt4.png) no-repeat 0 -102px; cursor: pointer; width:28px; height: 34px; display:inline-block;}
#b___slow.btn52:hover {background-position:0 -68px; width:28px; cursor: pointer; }

#b___slow.btn53 {background:url(http://plug.toplink.by/i/butt4.png) no-repeat 0 -34px; cursor: pointer; width:28px; height: 34px; display:inline-block;}
#b___slow.btn53:hover {background-position:0 0px; width:28px; cursor: pointer; }
