#gifter {
	position: fixed;
	left: 9px;
	right: 297px;
	top: 0px;
	font-size: 10px;
	border: 0px;
	z-index: 100000;
	background: #CCC;
	color: #2C2E65;
}
#gifter table {	width: 100%;
	height: 100%;
	background: #A5A5A5;
	font-size: 10px;
}
#gifter table th {
	border: 1px solid black;
	font-size: 10px;
	padding: 0px 2px 0px 2px;
}
#gifter table td {
	border: 1px solid black;
	font-size: 10px;
	padding: 0px 2px 0px 2px;
	background: #CCC;
}
#victim, #giftname, #gsender, #gsaver {	width: 100%;
}

#gcount, #scount {	display: block;
	float: right;
	margin-right: 10px;
}
#gstatus, #sstatus {	padding-left: 10px;
}

body {	margin-top: 30px;
}

.uses {
	text-align: center;
	padding: 3px 0px 0px 0px;
	border-radius: 4px;
	font: 9px Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #1D1D1D;
	box-shadow: 0px 0px 2px #BABABA, inset 0px 0px 1px #FFF;
	text-shadow: 0px 0px 2px #AA9494;
	cursor: pointer;
	height: 14px;
	display: inline-block;
}

.def {
	border: outset 1px #ACACAC;
	background-color: #B30000;
	background-image: -webkit-linear-gradient(top, #EBDDD0 0%, #E5B7A8 100%);
	background-image: -moz-linear-gradient(top, #EBDDD0 0%, #E5B7A8 100%);
	background-image: -o-linear-gradient(top, #EBDDD0 0%, #E5B7A8 100%);
	background-image: -ms-linear-gradient(top, #EBDDD0 0%, #E5B7A8 100%);
	background-image: linear-gradient(top, #EBDDD0 0%, #E5B7A8 100%);
}
.def:hover {
	background-image: -webkit-linear-gradient(top, #E5B7A8 0%, #EBDDD0 100%);
	background-image: -moz-linear-gradient(top, #E5B7A8 0%, #EBDDD0 100%);
	background-image: -o-linear-gradient(top, #E5B7A8 0%, #EBDDD0 100%);
	background-image: -ms-linear-gradient(top, #E5B7A8 0%, #EBDDD0 100%);
	background-image: linear-gradient(top, #E5B7A8 0%, #EBDDD0 100%);
	text-shadow: 1px 1px 2px #976B6B;
}

.run {
	border: inset 1px #FFF;
	background-color: #6DC5E3;
	background-image: -moz-linear-gradient(top, #5AB95A 0%, #2F805F 100%);
	background-image: -webkit-linear-gradient(top, #5AB95A 0%, #2F805F 100%);
	background-image: -o-linear-gradient(top, #5AB95A 0%, #2F805F 100%);
	background-image: -ms-linear-gradient(top, #5AB95A 0%, #2F805F 100%);
	background-image: linear-gradient(top, #5AB95A 0%, #2F805F 100%);
}